/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
      
    
  
}

.Contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.Contador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:100%;
    
}


.digitosTiempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 4rem;
    gap: 10px
}

.digitBox,
.Reloj {

    width: 60px;
    height: 70px;
    padding: 10px;
    background: rgb(51, 51, 51);
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Reloj {
    font-size: 3rem;
}

.Buttons{
    display: flex;
    gap:10px;
}

button{

    width:auto;
    height: auto;
    padding:20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;

}

.Red{
    background-color: red;
}

.Yellow{
    background-color: yellow;
}

.Green{
    background-color: green;
}